In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv',
                sep = ',')

In [11]:
counties = ['Alameda', 'Contra Costa', 'Marin', 'Monterey', 'Napa', 'San Francisco',
           'San Joaquin', 'San Mateo', 'Santa Clara', 'Santa Cruz', 'Solano', 'Sonoma']
populations = [1663000, 1147000, 260955, 437907, 140973, 884363, 745424, 
              770000, 1938000, 275897, 445458, 504217]

In [12]:
counties = pd.DataFrame({'county':counties, 'population':populations})

In [13]:
df = df[(np.isin(df['county'],counties)) & (df['state'] == 'California')]

In [15]:
df = pd.merge(df, counties, how = 'left', on = 'county')

In [16]:
df.sort_values(by = ['county', 'date'], inplace = True)

In [17]:
df['']

           date   county       state    fips  cases  deaths  population
76   2020-03-01  Alameda  California  6001.0      1       0     1663000
83   2020-03-02  Alameda  California  6001.0      1       0     1663000
91   2020-03-03  Alameda  California  6001.0      2       0     1663000
100  2020-03-04  Alameda  California  6001.0      2       0     1663000
109  2020-03-05  Alameda  California  6001.0      2       0     1663000

In [ ]:
df[['new_cases', 'new_deaths']] = df.groupby(['county'])[['cases', 'deaths']].transform(lambda x: x.diff()) 
df[['roll_new_cases', 'roll_new_deaths']] = df.groupby('county')[['new_cases', 'new_deaths']].transform(lambda x: x.rolling(7, 1).mean())

In [21]:
df['new_cases'] = df.groupby(['county'])['cases'].transform(lambda x: x.diff()) 
df['new_deaths'] = df.groupby(['county'])['deaths'].transform(lambda x: x.diff())

In [23]:
#get moving averages of cases, deaths, new_cases, new_deaths
df['roll_new_cases'] = df.groupby('county')['new_cases'].transform(lambda x: x.rolling(7, 1).mean())
df['roll_new_deaths'] = df.groupby('county')['new_deaths'].transform(lambda x: x.rolling(7, 1).mean())

In [26]:
df.to_csv('bay_area_cases_deaths_clean.csv')