## Bay area cases and deaths

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv',
                sep = ',')

In [4]:
counties = ['Alameda', 'Contra Costa', 'Marin', 'Monterey', 'Napa', 'San Francisco',
           'San Joaquin', 'San Mateo', 'Santa Clara', 'Santa Cruz', 'Solano', 'Sonoma']
populations = [1663000, 1147000, 260955, 437907, 140973, 884363, 745424, 
              770000, 1938000, 275897, 445458, 504217]

In [5]:
counties = pd.DataFrame({'county':counties, 'population':populations})

In [6]:
# filter the nyt dataset by the bay area counties
df = df[(np.isin(df['county'],counties)) & (df['state'] == 'California')]

In [8]:
df.head()

         date         county       state    fips  cases  deaths  population
0  2020-01-31    Santa Clara  California  6085.0      1     0.0     1938000
1  2020-02-01    Santa Clara  California  6085.0      1     0.0     1938000
2  2020-02-02  San Francisco  California  6075.0      2     0.0      884363
3  2020-02-02    Santa Clara  California  6085.0      2     0.0     1938000
4  2020-02-03  San Francisco  California  6075.0      2     0.0      884363

In [7]:
df = pd.merge(df, counties, how = 'left', on = 'county')

In [10]:
df.head()

         date         county       state    fips  cases  deaths  population
0  2020-01-31    Santa Clara  California  6085.0      1     0.0     1938000
1  2020-02-01    Santa Clara  California  6085.0      1     0.0     1938000
2  2020-02-02  San Francisco  California  6075.0      2     0.0      884363
3  2020-02-02    Santa Clara  California  6085.0      2     0.0     1938000
4  2020-02-03  San Francisco  California  6075.0      2     0.0      884363

In [14]:
df.sort_values(by = ['county', 'date'], inplace = True)

In [15]:
df.head()

           date   county       state    fips  cases  deaths  population
76   2020-03-01  Alameda  California  6001.0      1     0.0     1663000
83   2020-03-02  Alameda  California  6001.0      1     0.0     1663000
91   2020-03-03  Alameda  California  6001.0      2     0.0     1663000
100  2020-03-04  Alameda  California  6001.0      2     0.0     1663000
109  2020-03-05  Alameda  California  6001.0      2     0.0     1663000

In [16]:
df[['cases_1000', 'deaths_1000']] = df[['cases', 'deaths']].div(df['population'].values, axis = 0)*1000

In [17]:
df.head()

,date,county,state,fips,cases,deaths,population,cases_1000,deaths_1000
76,2020-03-01,Alameda,California,6001.0,1,0.0,1663000,0.000601,0.0
83,2020-03-02,Alameda,California,6001.0,1,0.0,1663000,0.000601,0.0
91,2020-03-03,Alameda,California,6001.0,2,0.0,1663000,0.001203,0.0
100,2020-03-04,Alameda,California,6001.0,2,0.0,1663000,0.001203,0.0
109,2020-03-05,Alameda,California,6001.0,2,0.0,1663000,0.001203,0.0

In [19]:
df[['new_cases', 'new_deaths']] = df.groupby(['county'])[['cases', 'deaths']].transform(lambda x: x.diff()) 
df[['roll_new_cases', 'roll_new_deaths']] = df.groupby('county')[['new_cases', 'new_deaths']].transform(lambda x: x.rolling(7, 1).mean())

In [20]:
df.to_csv('bay_area_cases_deaths_clean.csv')

## Santa Clara County cases, deaths, hospitalizations, and testing

In [21]:
#filter dataframe to Santa Clara only
scc = df[df['county'] == 'Santa Clara']

In [38]:
hosp  = pd.read_csv('https://data.sccgov.org/resource/5xkz-6esm.csv')

In [39]:
hosp = hosp[['date', 'icu_covid', 'covid_total_7davg', 'available_total', 'vents_pts', 'vents_available']]

In [40]:
hosp[['roll_icu_covid', 'roll_available_total']] = hosp[['icu_covid', 'available_total']].transform(lambda x: x.rolling(7, 1).mean())

In [41]:
hosp

,date,icu_covid,covid_total_7davg,available_total,vents_pts,vents_available,roll_icu_covid,roll_available_total
0,2020-03-27T00:00:00.000,63,125.00000,359,95,NaN,63.000000,359.000000
1,2020-03-28T00:00:00.000,66,133.00000,490,90,NaN,64.500000,424.500000
2,2020-03-29T00:00:00.000,69,138.66667,640,115,NaN,66.000000,496.333333
3,2020-03-30T00:00:00.000,72,142.50000,647,110,NaN,67.500000,534.000000
4,2020-03-31T00:00:00.000,73,143.80000,703,107,NaN,68.600000,567.800000
...,...,...,...,...,...,...,...,...
252,2020-12-04T00:00:00.000,83,294.14286,344,171,520.0,80.000000,398.428571
253,2020-12-05T00:00:00.000,82,302.85714,387,170,546.0,81.142857,387.142857
254,2020-12-06T00:00:00.000,86,314.14286,414,167,548.0,82.285714,391.571429
255,2020-12-07T00:00:00.000,90,327.71429,416,168,552.0,83.571429,383.857143
256,2020-12-08T00:00:00.000,91,344.28571,321,180,540.0,84.714286,374.000000

In [46]:
hosp['date'] = pd.to_datetime(hosp.date)
scc['date'] = pd.to_datetime(scc.date)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
scc = pd.merge(scc, hosp, on = 'date')

#### Get testing data

In [67]:
test = pd.read_csv('https://data.sccgov.org/resource/dvgc-tzgq.csv')

In [68]:
test.rename(columns = {'collection_date':'date'}, inplace = True)
test['date'] = pd.to_datetime(test.date)

In [69]:
test = test[['date', 'rate_pst_7d']]

In [70]:
scc = pd.merge(scc, test, on = 'date')

In [71]:
scc.to_csv('scc_cases_deaths_clean.csv')